openapi: 3.2.0
info:
  title: Mono Connect Creditworthiness API
  description: A grounded subset of the Mono open banking API for Africa.
  version: '2.0'
  contact:
    name: Mono
    url: https://mono.co
  x-provenance: Endpoint paths/methods grounded in docs.mono.co (2026-07-12). Request/response schemas are modeled and should be reconciled against the live API reference.
servers:
- url: https://api.withmono.com
  description: Mono production API host
security:
- monoSecKey: []
tags:
- name: Creditworthiness
  description: Affordability and credit-decisioning analysis.
paths:
  /v2/accounts/{id}/creditworthiness:
    parameters:
    - $ref: '#/components/parameters/AccountId'
    post:
      operationId: assessCreditworthiness
      tags:
      - Creditworthiness
      summary: Creditworthiness
      description: Assesses a customer's repayment capacity from their linked-account financial history and returns an affordability/creditworthiness analysis.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreditworthinessRequest'
      responses:
        '200':
          description: Creditworthiness analysis.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditworthinessResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    CreditworthinessRequest:
      type: object
      properties:
        principal:
          type: number
          description: Requested loan principal to evaluate affordability against.
        interest_rate:
          type: number
        term:
          type: integer
          description: Loan term in months.
        run_credit_check:
          type: boolean
    CreditworthinessResponse:
      type: object
      properties:
        status:
          type: string
        data:
          type: object
          properties:
            eligible_amount:
              type: number
            affordability:
              type: object
            risk_bands:
              type: object
    Error:
      type: object
      properties:
        status:
          type: string
        message:
          type: string
  parameters:
    AccountId:
      name: id
      in: path
      required: true
      description: The permanent account id returned by the exchange-token endpoint.
      schema:
        type: string
  responses:
    Unauthorized:
      description: The `mono-sec-key` is missing or invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    monoSecKey:
      type: apiKey
      in: header
      name: mono-sec-key
      description: Secret key for the application, found in the Mono dashboard. Sent on every server-to-server request in the `mono-sec-key` header. Use test keys in the sandbox and live keys in production.
