openapi: 3.0.1
info:
  title: Mono Account Information Identity and Income API
  description: Specification of the Mono open-banking API. Mono lets businesses link customer bank accounts (Connect) to read transactions, statements, identity, income, and balance, and to collect payments via DirectPay one-time transfers and Direct Debit mandates. All requests are authenticated with the secret application key supplied in the mono-sec-key header. Monetary amounts are expressed in the lowest denomination of the currency (e.g. kobo for NGN).
  termsOfService: https://mono.co/legal
  contact:
    name: Mono Support
    url: https://docs.mono.co
    email: hi@mono.co
  version: '2.0'
servers:
- url: https://api.withmono.com
  description: Mono production API
security:
- monoSecKey: []
tags:
- name: Identity and Income
  description: Identity verification and income signals for a linked account.
paths:
  /v2/accounts/{id}/identity:
    get:
      operationId: getAccountIdentity
      tags:
      - Identity and Income
      summary: Get identity
      description: Returns identity details (name, phone, BVN, date of birth) for a linked account holder.
      parameters:
      - $ref: '#/components/parameters/AccountId'
      responses:
        '200':
          description: Identity details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Identity'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v2/accounts/{id}/income:
    get:
      operationId: getAccountIncome
      tags:
      - Identity and Income
      summary: Get income
      description: Returns income signals such as average monthly income, estimated salary, and income sources.
      parameters:
      - $ref: '#/components/parameters/AccountId'
      responses:
        '200':
          description: Income signals.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Income'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    Error:
      type: object
      properties:
        status:
          type: string
        message:
          type: string
    Income:
      type: object
      properties:
        status:
          type: string
        message:
          type: string
        data:
          type: object
          properties:
            average_monthly_income:
              type: number
            estimated_salary:
              type: number
            yearly_income:
              type: number
            income_sources:
              type: array
              items:
                type: object
                properties:
                  employer:
                    type: string
                  amount:
                    type: number
                  frequency:
                    type: string
    Identity:
      type: object
      properties:
        status:
          type: string
        message:
          type: string
        data:
          type: object
          properties:
            full_name:
              type: string
            email:
              type: string
            phone:
              type: string
            gender:
              type: string
            dob:
              type: string
            bvn:
              type: string
            marital_status:
              type: string
  parameters:
    AccountId:
      name: id
      in: path
      required: true
      description: The linked account id returned by the exchange-token endpoint.
      schema:
        type: string
  responses:
    Unauthorized:
      description: Missing or invalid mono-sec-key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    monoSecKey:
      type: apiKey
      in: header
      name: mono-sec-key
      description: Secret application key issued in the Mono dashboard.
